# System files
.DS_Store
Thumbs.db

# Editor directories
.idea/
.vscode/
*.swp

# Logs
*.log

# SSH Keys (Safety precaution, though script shouldn't save them here)
id_rsa
id_rsa.pub
id_ed25519
id_ed25519.pub
*.pem
